* {
  font-family: "Poppins", sans-serif;
}

.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
body {
  color: #f3f0f6;
}

.listElements > * {
  margin: 0rem 1rem;
  font-weight: 800;
}
.listElements > * a {
  color: black;
}
